@import url(https://fonts.googleapis.com/css?family=Product+Sans:400,500);

:root {
    --font:'Product Sans';
    --darkGreyBackground: #202225;
    --greyBackground: #292b2f;
    --lightGreyBackground: #2f3136;
    --roundness: 25px;

}

html {
    background-color: var(--darkGreyBackground) !important;
}

.header h1 {
    position: relative;
    z-index: 2;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 120px;
    margin: 10px 0 0 0;
    font-family: var(--font) !important;
    background: var(--greyBackground) !important;
    border-radius: var(--roundness);
    margin: 50px 50px 50px 50px;
    padding: 20px 20px 20px 20px;
}


.header h2 {
    position: relative;
    z-index: 2;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: var(--font) !important;
    background: var(--greyBackground) !important;
    border-radius: var(--roundness);
    margin: 50px 50px 50px 50px;
    padding: 20px 20px 20px 20px;
}

.header img {
    position: relative;
    z-index: 1;
    text-align: center;
}

.flex-img1 {
    position: relative;
    z-index: 2;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 120px;
    margin: 10px 0 0 0;
    font-family: var(--font) !important;
    background: var(--greyBackground) !important;
    border-radius: var(--roundness);
    margin: 50px;
    padding: 50px 50px 50px 50px;
} 

.img-materialcord {
    position: relative;
    background: url("https://dgtbhitzdg.github.io/materialcord.png") center no-repeat;
    width: 1920px;
    height: 1080px;
    max-width: 80%;
    margin: auto;
    display: block;
}

