html {
    background-color: #202225;
}

.header {
    padding: 0px;
    text-align: center;
    color: white;
    font-family: public-sans;
    background: #292b2f;
    border-radius: 25px;
}
.header h1 {
    font-size: 120px;
}
.header p {
    font-size: 80
}