/*Thickness Of TitleBar*/
.typeWindows-1za-n7 {
    height: 32px;
    margin: unset;
}

/*Button Resize*/
.typeWindows-1za-n7 .wordmarkWindows-1v0lYD {
    padding: 8px 9px 3px;
}
.typeWindows-1za-n7 .winButtonClose-1HsbF- {
    height: 36px;
    width: 46px;
}
.typeWindows-1za-n7 .winButtonMinMax-PBQ2gm {
    height: 36px;
    width: 46px;
}

/*Discord Logo*/
.wordmarkWindows-1v0lYD::before {
    content: '';
    position: inherit;
    left: 8px;
    top: 9px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' viewBox='0 0 245 240'%3E%3Cstyle%3E.st0%7Bfill:%2372767d;%7D%3C/style%3E%3Cpath d='M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z' class='st0'/%3E%3Cpath class='st0' d='M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z'/%3E%3C/svg%3E");
}
.wordmarkWindows-1v0lYD svg {
    display: none;
}
html[style] head ~ body[style] > #app-mount.appMount-3lHmkl .wordmark-2iDDfm::after {
        content: '' !important;
        display: block !important;
        position: absolute;
        left: 32px;
        top: 12px;
        width: 1300px;
        height: 200px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1260' height='200' viewBox='0 0 1260 200'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2372767d; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='MaterialCord_1' data-name='MaterialCord 1' class='cls-1' d='M860.368,25.062c29.09-.9,47.453,8.087,54.088,29.078-9.556,2.206-20.339,10.781-28.046,8.022-4.772-9.543-25.636-11.251-31.05-1-7.111,8.708-3.892,45.162-1,56.152,11.146,8.673,26.626,7.559,33.053-5.014l27.044,14.038c-15.66,30.368-73.242,38.084-90.146,3.008-4.7-9.758-3-27.08-3-41.111q0.5-17.044,1-34.092C828.55,35.636,843.027,32.837,860.368,25.062Zm104.168,0c47.414-1.338,62.1,16.084,62.1,63.17,0,41.189-8.31,58.739-42.071,65.176-48.138,9.175-61.1-22.464-61.1-65.176q0.5-16.543,1-33.089C930.707,35.221,946.154,33.2,964.536,25.062ZM12,27.068H44.052L70.094,86.227V84.222l25.04-57.154h32.052V151.4H95.134q0.5-30.078,1-60.162v2.005L81.111,132.351l-23.037,1L41.047,91.24q1,30.077,2,60.162H12V27.068Zm167.27,0,30.048,1L252.388,151.4H218.333l-8.013-25.067H177.267L170.255,151.4H136.2v-1Q157.733,88.74,179.27,27.068Zm60.1,0h98.158V57.149H304.472V151.4H272.42V57.149H239.367V27.068Zm110.177,0h86.139V57.149H381.6V76.2h50.081v27.073H381.6v18.048h54.087V151.4H349.544V27.068Zm103.167,0c27.375-.778,65.266-3.7,81.131,8.022,24.913,18.413,14.4,63.106-9.015,74.2L557.88,151.4H517.816l-28.045-39.1h-5.008v39.1H452.711V27.068Zm113.182,0h31.05V151.4h-31.05V27.068Zm83.134,0,30.049,1L722.145,151.4H688.09q-4.005-12.532-8.012-25.067H647.024L640.013,151.4H605.958v-1Zm82.133,0h31.05v93.251h51.082V151.4H731.16V27.068Zm311.5,0c27.38-.778,65.27-3.7,81.13,8.022,24.92,18.413,14.41,63.106-9.01,74.2q16.53,21.054,33.05,42.113h-40.06l-28.05-39.1h-5.01v39.1h-32.05V27.068Zm113.18,0c71.89-1.509,94.16-4.355,94.16,69.186,0,15.624.47,29.277-6.01,38.1-14.97,20.369-52.24,17.759-88.15,17.046V122.324c12.56,0.391,51.22,1.857,58.1-3.008,9.16-6.474,6.1-45.452,3-57.154-7.06-5.072-16.77-5.373-30.05-5.013q-0.5,25.566-1,51.137-4.5-4.512-9.01-9.024-10.515-9.525-21.04-19.051V27.068Zm-188.3,27.073c-4.885,2.992-8.427,3.58-11.018,9.024-5.818,10.36-2.838,43.232,0,54.146,9.39,6.654,19.1,7.628,32.052,4.01l5.008-7.019c3.483-11.626,3.938-50.276-4.006-55.148C984.839,54.321,977.659,53.76,967.541,54.141ZM484.763,57.149V85.224c16.221,1.157,40.01-.833,31.05-20.054-1.716-3.891-3.166-5.26-7.012-7.019Zm589.947,0V85.224c16.23,1.157,40.01-.833,31.05-20.054-1.71-3.891-3.16-5.26-7.01-7.019ZM193.292,63.165q-4,17.546-8.013,35.095h17.028V95.251Q197.8,79.21,193.292,63.165Zm469.758,0q-4.006,17.546-8.013,35.095h17.028V95.251Q667.557,79.21,663.05,63.165Z'/%3E%3C/svg%3E");
        background-size: 7.5%;
        background-repeat: no-repeat;
}
/*Login Screen Placeholder Background*/
.platform-win .splashBackground-1FRCko:before {
    width: 138px !important;
    height: 32px !important;
}