.theme-light {
    --background-tertiary: #d3d3d3;
    --background-primary: #e3e3e3;
    --background-secondary: #e9e9e9;
    --background-secondary-alt: #f1f1f1;
}


/* ||||  Create Group DM Popout  |||| */

.searchBarComponent-yxeVIL {border-radius: 25px;}
.anchor-3Z-8Bb {border-radius: 25px;}
.checkbox-1ix_J3 {border-radius: 25px;}

/* |||| Full Screen Calls  |||| */

.wrapper-2qzCYF{border-radius: 25px;}
.content-2Sfaij{border-radius: 25px;}
.wrapper-3BZGuR{border-radius: 25px;}
.videoWrapper-3VC0Ax{border-radius: 25px;}
.tile-2naSqK {border-radius: 25px;}
.speaking-WDn8Wm {border-radius: 25px;}

/* ||||  Nitro Popup  |||| */

/* Nitro Tab (DM's/Friends List)

.feature-2w65J5 {border-radius: 12.5px} */

.hero-EvfTTA {border-radius: 25px;}

/* Gift Nitro In Chat */
.wrapper-1P_m9K {border-radius: 25px;}

/* ||||  Share Screen Popup  |||| */

.modalSize-cqUaws{border-radius: 25px;}
.button-38aScr{border-radius: 25px;}
.close-hZ94c6{outline: #fff;}
.card-2Mz_4z{border-radius: 25px;}
.group-2dAfBy.flex-1O1GKY{border-radius: 25px;}

/* ||||  Misc Popups  |||| */

/* Inbox */

.container-enaOkj {
    border-radius: 25px;
}

/* Pins */

.messagesPopoutWrap-1MQ1bW {
    border-radius: 25px;
    margin-top: 14px;
    max-height: 940px !important;
    left: 50px;
    box-shadow: none;
}
.header-ykumBX {border-radius: 25px;background: var(--background-secondary-alt);}
.messageGroupWrapper-o-Zw7G {
    border-radius: 25px;
}

/* ||||  Misc  |||| */ 

.gameIcon-gg34Dz{border-radius: 25px;}
.root-1gCeng{border-radius: 25px;}
.searchBar-3dMhjb{border-radius: 25px;}

/* ||||  Home Button  |||| */

.tutorialContainer-1v44GL {
    position: relative;
    z-index: 2;
    top: -5px;
    margin-top: -5px;
    background: none;
    border-radius: 0 0px 25px 0;
    padding-top: 16px;
    padding-bottom: 0px;
    margin-right: 6px;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {background: var(--background-floating);border-radius: 90px;}

/* ||||  Title Bar  |||| */
.typeWindows-1za-n7 {background: var(--background-tertiary);margin-top: 0px;padding-top: 5px}

/* ||||  Calls  |||| */
.grid-3HQYa0l.wrapper-vj0FTk.wrapper-2qzCYF.noChat-18KtBD.video--KPXCT.theme-dark {border-radius: 25px;margin-right: 10px;}
.wrapper-vj0FTk.videoGrid-1khsrF.thin-1ybCId.fade-2kXiP2 {border-radius: 25px;margin-right: 10px;}


/* ||||  Chat Popouts  |||| */

/* Server Notification Settings Popout */
.modal-yWgWj- {border-radius: 25px;padding-top:10px}
.header-1TKi98 {background: var(--background-secondary);top:-10px;}

/* Voice Chat "Playing" Popout */
.container-2dqNWc {border-radius: 25px;}

/* Autocomplete Box (For channel # etc) */
.autocomplete-1vrmpx {border-radius: 25px; margin: 0 25px 0 25px}
.base-1pYU8j {border-radius: 25px;}

/* Reply System */
.container-2fRDfG {position: relative;z-index: 1;border-radius: 25px 25px 0 0;margin-bottom: -20px;padding-bottom: 15px;padding-right: 5px;background: var(--background-secondary-alt)}

/* Highlight Buttons (Right Side of Highlighted Message) */
.wrapper-2aW0bm {border-radius: 25px;background: var(--background-secondary-alt)}

/* Attach File Popout */
.attachPopout-36hjtN {border-radius: 25px;margin-bottom: -10px;}
.attachPopoutRow-3iqqu1 {border-radius: 25px;}

/* Emojis/Gifs */
.contentWrapper-SvZHNd {border-radius: 25px;}
.navButton-2gQCx- {border-radius: 25px;}
.searchBar-5di9mG {border-radius: 25px;}
.searchBar--fTZYa {border-radius: 25px;}

/* Colours */
.wrapper-2Gsate {background: var(--background-secondary);}
.listWrapper-3kgtQ0 {background: var(--background-secondary-alt);}
.wrapper-1-Fsb8 {background: var(--background-secondary-alt);}

/* ||||  Right Click Pane  |||| */
#message {border-radius: 25px;}
.focused-3afm-j {border-radius: 25px;}
.menu-3sdvDG {border-radius: 25px;}

/* ||||  Server Settings  |||| */
#guild-header-popout {position: relative;border-radius: 25px;width: 240px;padding-top: 0px;margin-top: 0px;}

/* ||||  Spotify  |||| */
/*.headerSpotify-zpWxgT .activity-11LB_k {position: relative; padding: 0 !important;}
.assetsLargeImage-eYwpTX {border-radius: 50%; }
.topSectionStreaming-1Tpf5X .assetsLargeImage-eYwpTX {border-radius: var(--border-radius);}
.headerSpotify-zpWxgT .headerTextNormal-2mGWX3 {display: none !important;}
.headerSpotify-zpWxgT .bodyNormal-2D39hT {padding: 10px 10px 0 10px !important;}
.headerSpotify-zpWxgT .contentImagesUserPopout-1vLdRA {margin: 6px 0 0 10px;}
.headerSpotify-zpWxgT .contentImagesUserPopout-1vLdRA .anchor-3Z-8Bb,
.activityProfile-2bJRaP .content-3JfFJh .anchor-3Z-8Bb {color: #e0e0e0 !important;}
.headerSpotify-zpWxgT .timeBarUserPopout-AWPFf2 {position: absolute;width: 100%;top: 0;margin: 0;}
.headerSpotify-zpWxgT .timeBarUserPopout-AWPFf2 .flex-1xMQg5 {position: absolute !important;flex: 0 !important;width: 80px !important;top: -16px !important;right: 2px !important;opacity: 0;transition: 200ms ease all; }
.headerSpotify-zpWxgT:hover .timeBarUserPopout-AWPFf2 .flex-1xMQg5 {opacity: 1;}
.headerSpotify-zpWxgT .textLeft-3EZXG6,
.headerSpotify-zpWxgT .textRight-1XO5Ye {width: 32px;min-width: 32px;}
.headerSpotify-zpWxgT .textLeft-3EZXG6 {display: inline-block;position: relative;margin: 0 16px 0 0;flex: 0 !important;text-align: right;}
.headerSpotify-zpWxgT .textLeft-3EZXG6:after {position: absolute;content: " / ";left: 38px; }
.headerSpotify-zpWxgT .listeningActionsUserPopout-Ga2V_N {padding: 0 10px 10px 10px;}
.headerSpotify-zpWxgT .bar-3urHkF,
.headerSpotify-zpWxgT .barInner-3NDaY_ {border-radius: 0;}
.listenAlongIcon-2vb1HG {color: var(--spotify-color);}
.listenAlongIcon-2vb1HG path {d: path("M5 15v-3h3v-2H5V7H3v3H0v2h3v3zm7-1.25c-2.34 0-7 1.17-7 3.5V19h14v-1.75c0-2.33-4.66-3.5-7-3.5zM7.34 17c.84-.58 2.87-1.25 4.66-1.25s3.82.67 4.66 1.25H7.34zM12 12c1.93 0 3.5-1.57 3.5-3.5S13.93 5 12 5 8.5 6.57 8.5 8.5 10.07 12 12 12zm0-5c.83 0 1.5.67 1.5 1.5S12.83 10 12 10s-1.5-.67-1.5-1.5S11.17 7 12 7zm5 5c1.93 0 3.5-1.57 3.5-3.5S18.93 5 17 5c-.24 0-.48.02-.71.07.76.94 1.21 2.13 1.21 3.43 0 1.3-.47 2.48-1.23 3.42.24.05.48.08.73.08zm2.32 2.02c1 .81 1.68 1.87 1.68 3.23V19h3v-1.75c0-1.69-2.44-2.76-4.68-3.23z") !important; }
*/

/* ||||  Server List  |||| */
.scroller-2TZvBN {
    background-color: var(--background-secondary-alt);
	border-radius: 0 25px 25px 0;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Open Folder */
.folder-21wGz3 {border-radius: 90px;background-color: var(--background-floating);}
.expandedFolderBackground-2sPsd- {background: var(--background-floating);border-radius: 90px;}

/* Closed Folder */
.closedFolderIconWrapper-15K9MK {background: var(--background-floating);}

/* |||||||||||| Settings  |||||||||||| */

/* Main Settings */
.contentColumn-2hrIYH {border-radius: 25px; padding-top: 25px;margin: 30px 10px 30px 5px;background-color: var(--background-primary);}
.sidebar-CFHs9e {border-radius: 25px; padding-top: 25px;margin: 30px 10px 30px 5px;background-color: var(--background-secondary);}
.tools-3-3s-N {position: absolute;left: 1450px;top:60px}
.contentRegionScroller-26nc1e, .sidebarRegionScroller-3MXcoP {background-color: var(--background-tertiary);}

/* My Account */
.userInfoViewing-16kqK3 {border-radius: 25px;}
.userInfoViewingButton-2-jbH9 {border-radius: 25px;}
.background-1QDuV2 {border-radius: 25px;}
.fieldList-21DyL8 {border-radius: 12.5px;}

/* Privacy & Safety */
.item-26Dhrx {border-radius: 12.5px}
.radioBar-bMNUI- {border-radius: 12.5px;}
.formNotice-2_hHWR {border-radius: 25px;}

/* Authorized Apps */
/* .formNotice-2_hHWR {border-radius: 25px;} */
.authedApp-mj2Hmd {border-radius: 25px;background-color: var(--background-secondary);}

/* Connections */
.inner-2Y6JuD {border-radius: 25px;}
.accountList-33MS45 {border-radius: 25px;}
.connection-1fbD7X, .connectionHeader-2MDqhu {border-radius: 25px;}
.connectedAccount-36nQx7 {border-radius: 25px;}

/* Billing */
.defaultIndicator-G3c16x {border-radius: 12.5px}
.premiumIndicator-1XvbfM {border-radius: 12.5px}
.codeRedemptionRedirect-1wVR4b {border-radius: 25px;}
.select-2fjwPw {border-radius: 25px;}
.popout-VcNcHB {border-radius:25px;}

/* Subscriptions */
.banner-3Kac2g {border-radius: 25px;}
.bannerBackgroundImage-1DMjWi {border-radius: 25px;}
.billingInformation-1MZXzx {border-radius: 25px;}
.detailsBlock-FoDTGA {border-radius: 25px;}

/* Gift Inventory */
.inputDefault-_djjkz {border-radius: 25px;}

/* Server Boost */
.guild-Hq0WWA {border-radius: 25px;}
.guildHeader-3nh5RK {position:relative;z-index:1; margin-bottom: -20px;padding-bottom: 20px}
.guildSubscriptionSlots-JPXXvN {position:relative;z-index:2;border-radius: 25px}
.cardWrapper-2Min21 {border-radius: 25px;}

/* HypeSquad */
.membershipDialog-rVL-t_ {border-radius: 25px;}
.video-34IsHk {border-radius: 25px;}
.attendeeCTA-3ZZQWt {border-radius: 25px;}

/* Voice & Video */
.css-gvi9bl-control {border-radius: 25px;}
.css-6fzn47-control {border-radius: 25px 25px 0 0;}
.css-17e1tep-control {border-radius: 25px;}
.css-3vaxre-menu {border-radius: 0 0 25px 25px;}
.grabber-3mFHz2 {border-radius: 25px;}
.item-26Dhrx {border-radius: 25px;}
.previewContainer-37c2Si {border-radius: 25px;}
.formNotice-2_hHWR {border-radius: 25px;}

/* Overlay */
.container-CpszHS {border-radius: 25px;}
.wrapper-3jrx9n, .option-n0icdO {border-radius: 25px;}

/* Keybinds */
.css-118dehu-control {border-radius: 25px;}

/* Game Activity */
.activeGame-14JI7o {border-radius: 25px;}
.addGamePopout-2RY8Ju {border-radius: 25px;}

/* Buttons */
.side-8zPYf6 .item-PXvHYJ {border-radius: 25px;}

/* General Stuff */
.sidebar-CFHs90e {background: var(--background-secondary);}

/* ||||||||||||  Not sorted |||||||||||| */

.hasNotice-1XRy4h {border-radius: 25px;}
.panels-j1Uci_ {border-radius: 25px;}
.container-PNkimc {border-radius: 25px;}

/* ||||||||||||  Members List  |||||||||||| */

.members-1998pB {border-radius: 25px;}

.membersWrap-2h-GB4, .members-1998pB {
    left: 15px;
    margin-left: -10px;
    padding-top: 0px;
    margin-top: 5px;
    margin-right: 15px
  }
.chat-3bRxxu {
    background: var(--background-tertiary);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 25px;
}
.chatContent-a9vAAp {
    background-color: var(--background-primary);
    padding-top: 0px;
    border-radius: 25px;
    left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-left: -25px
  }
.chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {border-radius: 25px;}
.container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {position: relative;left: 0px;padding-right: 15px}

/* ||||||||||||  Channels List  |||||||||||| */

.platform-win .sidebar-2K8pFh {border-radius: 25px;width: 240px;margin: 10px;padding-top: 0px;}
.containerDefault--pIXnN {border-radius: 25px;}
.content-1Wq3SX {border-radius: 25px;}
.content-1x5b-n {border-radius: 25px;}
.header-2V-4Sw {border-radius: 25px;background-color: var(--background-secondary-alt);}
.content-3at_AU {border-radius: 25px;}
.container-1giJp5 {
    position: relative;
    background: var(--background-floating);
	border-radius: 25px;
    padding-bottom: 56px;
    margin-bottom: -50px;
}
.container-3baos1 {
	position: relative;
	background: var(--background-secondary-alt);
	border-radius: 25px;
	margin-bottom: -2px;
}
.panel-24C3ux {
	position: relative;
	background: var(--background-floating);
    border-radius: 25px;
    padding-bottom: 80px;
    margin-bottom: -70px;
}
.button-1YfofB.buttonColor-7qQbGO.button-38aScr {
    border-radius: 25px;
    background: var(--background-primary);
}

/* Voice Activity */
.avatarSpeaking-2IGMRN {
    -webkit-box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px var(--background-secondary);
}
.border-3dQmSY.speaking-WDn8Wm {
    -webkit-box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px #000;
    box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px #000;
}

/* ||||||||||||  Chat stuff  |||||||||||| */

/*Friends Panel*/
.emptyCard-1RJw8n {border-radius: 25px;}
.searchBarComponent-32dTOx[type*="button"] {border-radius: 25px;}
.layout-2DM8Md {border-radius: 25px;}
.item-3HknzM.item-PXvHYJ.selected-3s45Ha {border-radius: 25px;}
.item-3HknzM.item-PXvHYJ[aria-controls*="ADD_FRIEND-tab"] {border-radius: 25px;}
.nowPlayingColumn-2sl4cE {background: var(--background-tertiary)}
.itemCard-v9viV7 {border-radius: 25px;background: var(--background-secondary-alt)}
.body-1ld4H7 {border-radius: 12.5px;background: var(background-primary) !important;}
.layerContainer-yqaFcK {margin-right: 10px;}
.group-spacing-16{margin-right: 10px;}
.searchBarComponent-32dTOx {border-radius: 25px;}
.searchBar-6Kv8R2 {border-radius: 25px;background: var(--background-secondary-alt);}
.container-1D34oGr {margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding: 0px;}
.peopleColumn-29fq28 {margin-top: 10px; border-radius: 25px;background: var(--background-primary);}
.container-1r6BKw.themed-ANHk51 {border-radius: 25px;background: var(--background-secondary-alt);}
.tabBody-3YRQ8W:before {display: none;}
.container-1D34oG {background: var(--background-tertiary) !important;}

/*Global Search Button*/
.quickswitcher-3JagVE {border-radius: 25px;} 
.input-2VB9rf {border-radius: 25px;box-shadow: none;}

/*Main*/
.sidebar-2K8pFh + .chat-3bRxxu .messagesWrapper-1sRNjr + .form-2fGMdU {margin-bottom: 4px;} 
.content-yTz4x3:before {display: none;}
.title-3qD0b-.container-1r6BKw {border-radius: 25px;background: var(--background-secondary-alt);}
.header-2o-2hj {position: relative;z-index: 6;border-radius: 25px;background: var(--background-secondary-alt);}
.container-1D34oG {margin: 10px 10px 10px 0;padding-right:0px}

/* ||||||||||||  Server Message Search  |||||||||||| */

/* Collapsing Feature */
.search-2oPWTC .searchBar-3dMhjb {width: 27px;transition-duration: .5s;}
.search-2oPWTC .searchBar-3dMhjb:hover {width: 144px;}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {width: 220px !important;}
.search-2oPWTC .icon-38sknP {cursor: pointer;}
.searchFilter-2ESiM3, .searchAnswer-3Dz2-q {border-radius: 25px;margin-left: 2px;}

/* Search-Box tips */
#search-results.container-3ayLPN {border-radius: 25px;;margin-top: 14px;min-width: 340px;margin-right: -12px !important;background: var(--background-floating)}
.option-96V44q {border-radius: 25px !important;}
.option-96V44q::after {display:none;}

/* Search Results Page */
.searchResultsWrap-3-pOjs {margin: 10px 0 0 10px;border-radius: 25px;}
.searchHeader-2XoQg7 {border-radius: 25px;background: var(--background-secondary-alt);}
.searchResultMessage-1fxgXh.hit-1fVM9e {border-radius: 25px;background: var(--background-primary)}
.jumpButton-JkYoYK {border-radius: 25px;}

/* ||||||||||||  Chatbox  |||||||||||| */

.scrollableContainer-2NUZem {
    position: relative;
    z-index: 2;
    background: var(--background-secondary-alt);
    max-height: 37vh;
  	border-radius: 25px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: -5px;
	padding-top: 4px;
	padding-bottom: 4px;
    padding-right: 12px;
}

/*Typing*/
.base-gE7OpD {font-size: 12px; font-weight: 500; line-height: 24px;}
.typing-2GQL18 {
    top: -22px;
    left: 0;
    margin-right: -16px;
    padding: 0 15px 10px;
    background: var(--background-secondary);
    transition: 200ms ease-in-out;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-bottom: 25px;
}

/*Background*/
.scrollableContainer-2NUZem::-webkit-scrollbar {display: none;}
.form-2fGMdU {padding-left: 0px;padding-right: 0px;}
.characterCount-1cRDo2 {z-index: 3;}
.channelTextArea-rNsIhG {margin-bottom: 0px;border-radius: 24px;}
.theme-dark .form-2fGMdU:before {background: transparent;}

/*Text Align*/
.slateTextArea-1Mkdgw {text-align: left;margin-left: 0px;}
.placeholder-37qJjk {left: 0px;}

/*Mentions/Text Channel link*/
.wrapper-3WhCwL {background: rgba(66,133,244, .1);border-radius: 12.5px;padding: 0px 5px 0px 5px}
.wrapper-3WhCwL:hover {background: rgb(66,133,244, .5);}

/* ||||||||||||  Discovery Page  |||||||||||| */

/*Main*/
.pageWrapper-1PgVDX {border-radius: 25px;margin: 10px 10px 10px 0px;}
.searchBox-3Y2Vi7.searchBox-2_mAlO {border-radius: 25px;}

/*Server Cards*/
.headerImage-3X1tyY {border-radius: 25px;}
.card-3DjzTQ {border-radius: 12.5px;}
.avatar-22otdK {border-radius: 50px;}
.iconMask-3b8GzQ {border-radius: 50px;}

/* ||||||||||||  User Profile  |||||||||||| */

/*Status Menu*/
#status-picker.menu-3sdvDG {position: relative;width: 240px;margin-left: -8px;}

/*User Popout*/
.userPopout-3XzG_A {border-radius: 25px;}

/*Main*/
.root-SR8cQa{background: transparent;width: 700px;flex-direction: row;overflow: unset;position: relative;}

/*Header*/
.topSectionNormal-2-vo2m, .topSectionXbox-3fWLjS, .topSectionPlaying-1J5E4n, .topSectionStreaming-1Tpf5X, .topSectionSpotify-1lI0-P {width: 50%;border-radius: 25px 25px 25px 25px;}
.topSectionPlaying-1J5E4n, .headerPlaying-j0WQBV {background-image:url(https://imgur.com/dl4b8D4.png);background-repeat: repeat;background-size: contain;}
.topSectionXbox-3fWLjS, .headerXbox-3G-4PF {background-image:url(https://i.imgur.com/fwlurdb.png);background-repeat: repeat;background-size: contain;}
.topSectionStreaming-1Tpf5X, .headerStreaming-2FjmGz {background-image:url(https://i.imgur.com/bGkMRoB.png);background-repeat: repeat;background-size: contain;}
.topSectionSpotify-1lI0-P, .headerSpotify-zpWxgT {background-image:url(https://i.imgur.com/v4ewdC6.png);background-repeat: repeat;background-size: contain;}

.body-3iLsc4, .footer-1fjuF6 {background-color: var(--background-secondary-alt);}

.topSectionNormal-2-vo2m, .topSectionNormal-2-vo2m {width: unset !important;}
.header-QKLPzZ .button-38aScr{position: absolute;bottom:18px;z-index: 1;left: 18px;}
.header-QKLPzZ .button-38aScr + div{position: absolute;bottom: 22px;right: calc(22px + 60%);}
.tabBarContainer-1s1u-z{border-top: unset;}
.tabBar-2MuP6-{flex-direction: column;}
.top-28JiJ- .item-PXvHYJ{height: 40px;border-bottom: unset;}

/*Custom Status*/
.activity-1ythUs {
    position: absolute;
    z-index: 1;
    bottom: 380px;
    background-color:var(--background-tertiary);
    right: -10px;
    min-width: 670px;
    border-radius: 25px;
}
.customStatus-154i-H{max-width: 600px;padding-bottom: 10px;max-height: 30px;}

/*Player*/
.assetsLargeImageActivityFeed-25vA7H, .assetsLargeImageActivityFeedXbox-3Tr-tf, .assetsLargeImageProfile-3YXDex{width: 50px;height: 50px;}
.activityProfile-2bJRaP{
    right: unset;
    background: transparent;
    position: absolute;
    z-index: 1;
    bottom: -156px;
    background-color: var(--background-tertiary);
    border-radius: 25px 25px 25px 25px;
    left:0px;
    width: 660px;
    min-height: 125px;
    max-height: 125px;
    padding: 20px 20px 0 20px;
}
.headerFill-adLl4x {background: transparent;}

/*Body*/
.body-3ND3kc{width: 50%;min-height: 350px;max-height: 350px;padding-bottom: 10px;padding-top: 10px;border-radius: 25px 25px 25px 25px;margin-left: 10px;}
.connectedAccount-36nQx7 {width: 300px;}

/*Badges*/ /*when u have too many badges*/
.profileBadges-2vWUYb{flex-wrap: wrap;flex-flow: row wrap;}

/*Remove Note Section*/
.userInfoSectionHeader-CBvMDh, .note-QfFU8y {display:none;padding: 0 0 0 0;}
.userInfoSection-2acyCx {padding-top: 0px;}
.userInfoSection-2acyCx+.userInfoSection-2acyCx {border-top: none ;}

/*Accept Reject Friend Request Fix*/
.actionRightButton-2vQaa9 {position: absolute;margin-left: 80px;}

/*New Message Popup (top of screen)*/
.newMessagesBar-265mhP {position: absolute;border-radius: 25px;left: 20px;top: 5px;}

/*Spotify Activity*/

.timeBarProfile-10b-fm {position: absolute;top:100px;left: 20px;width: 660px;}

/* ||||||||||||  Plugin Support  |||||||||||| */

/* HideChannels (not very well supported) */
.sidebar-2K8pFh.hideElement .container-3baos1 {
    background-color: var(--background-secondary-alt) !important;
    margin:10px;
    top: 950px;
    height: 50px !important;
    position: relative;
}

/* SpotifyControls */
.container-6sXIoE {
    position: relative;
    background: #1d1e21;
    border-radius: 25px;
    padding-bottom: 70px;
    margin-bottom: -65px;
}
.cover-SwJ-ck {border-radius: 25px;}
.maximized-vv2Wr0 {border-radius: 25px;}
.barFill-Dhkah7 {background: white;}

/* ImageUtilities */
.operations-3V47CY {
    background: var(--background-tertiary);
    border-radius: 25px;
    padding: 0 10px 0 10px;
    margin-top: -10px;
    top: -30px;
    position: absolute;
}
.detailsWrapper-TE1mu5 {
    background: var(--background-tertiary);
    border-radius: 25px;
    max-width: 1100px;
    min-width: 400px;
    padding: 0 10px 0 25px;
}

/* ||||||||||||  Badges (W.I.P)  |||||||||||| */

.headerText-3Uvj1Y > span:first-child::after,
.usernameFont-23TX-h::after,
.name-uJV0GL > .overflow-WK9Ogt::after {
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* lixm.jb#5310 (theme creator) */
[src*="262068640013090819"] + .header-23xsNx > .headerText-3Uvj1Y > span:first-child::after,
.avatar-3EQepX[data-user-id="262068640013090819"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="262068640013090819"] + .usernameFont-23TX-h::after,
[aria-label*="lixm.jb"] > div > .content-3QAtGj > .nameAndDecorators-5FJ2dg > .name-uJV0GL > .overflow-WK9Ogt::after {
   content:  "";
   border-radius: 25px;
   position: relative;
   left: 2px;
   background: url(https://i.imgur.com/YtHzbtS.png) center/80% no-repeat white;
}

/* ||||||||||||  TitleBar Watermark  |||||||||||| */

html[style] head ~ body[style] > #app-mount.appMount-3lHmkl .wordmark-2iDDfm::after {
        content: "- MaterialCord v1.2.0";
        display: block !important;
        position: absolute;
        left: 67px;
        top: 6px;
        width: 130px;
        font-size: 0.85rem;
        color: #72767d;
        font-weight: 1000;
}




/* ||||||||||||  SNIPPETS FROM OTHER THEMES  |||||||||||| */

    /* 
    Zere's Old Settings Module 
    -css snippet by Zerebos 
    */ /*
    :root {
        --width2: 60%;
        --height2: 85%;
    }
    .layers-3iHuyZ {
        align-items:center;
        justify-content:center;
    }
    .layers-3iHuyZ > .layer-3QrUeG:first-child {
        opacity: 1!important;
        transform: none!important;
    }
    .layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {
        z-index: 1;
    }
    .layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
        content: "";position: absolute;
        top: calc((100% - var(--height2)) / -1); 
        left: calc((100% - var(--width2)) / -1);
        padding: calc(100% - var(--height2)) calc(100% - var(--width2));
        background: black;
        z-index: 2;
        opacity: 0.6;
        width: 100%;
        height: 100%;
    }
    .layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
        width: var(--width2);
        height: var(--height2);
        top:unset;bottom:unset;
        right:unset;left:unset;
        display: block;
        overflow: visible;
        transform: translateZ(0);
        z-index: 3;
    }
    */




/* ||||||||||||  SNIPPETS FROM OTHER THEMES THAT AREN'T USED YET  |||||||||||| */

/*
:root { 
    --replies-border-left: 4px;
    --replies-padding: 8px;
}
#app-mount .repliedTextPreview-2NBljf {opacity: 1;}
.avatar-1BDn8e {top: calc(4px - .125rem);}
.repliedMessage-VokQwo:before {content: none;}
.replyLink-nOQEG8 ~ .botTag-2WPJ74 {display: none;}
.repliedTextPreview-2NBljf {max-width: 100%;}
#app-mount .repliedMessage-VokQwo + .contents-2mQqc9 .header-23xsNx {
    position: absolute;
    top: 0;
    overflow: visible;
}
.replyAvatar-1K9Wmr, .replyBadge-r1su3o {
    height: 1rem;
    width: 1rem;
    margin-bottom: 4px;
}
.repliedMessage-VokQwo {
    width: auto;
    max-width: 100%;
    padding: var(--replies-padding);
    font-size: 1rem;
    margin-top: 1.4rem;
    background: var(--background-message-hover);
    border-left: solid var(--replies-border-left) var(--background-accent);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headerText-3Uvj1Y {
    font-size: 0;
    line-height: 0;
}
#app-mount .replyLink-nOQEG8 + .username-1A8OIy {
    position: absolute;
    left: calc(var(--replies-border-left) + var(--replies-padding) + 1rem + 4px);
    top: calc(100% + var(--replies-padding));
    white-space: nowrap;
}*/