.theme-light {
    --background-tertiary: #d3d3d3;
    --background-primary: #e3e3e3;
    --background-secondary: #e9e9e9;
    --background-secondary-alt: #f1f1f1;
}

/*Tooltips*/
.tooltip-2QfLtc {border-radius: var(--border-radius-alt);}

/* ||||  Create Group DM Popout  |||| */

.searchBarComponent-yxeVIL {border-radius: var(--border-radius-main);}
.anchor-3Z-8Bb {border-radius: var(--border-radius-main);}
.checkbox-1ix_J3 {border-radius: var(--border-radius-main);}

/* |||| Full Screen Calls  |||| */

.wrapper-2qzCYF{border-radius: var(--border-radius-main);}
.content-2Sfaij{border-radius: var(--border-radius-main);}
.wrapper-3BZGuR{border-radius: var(--border-radius-main);}
.videoWrapper-3VC0Ax{border-radius: var(--border-radius-main);}
.tile-2naSqK {border-radius: var(--border-radius-main);}
.speaking-WDn8Wm {border-radius: var(--border-radius-main);}

/* ||||  Nitro Popup  |||| */

/* Nitro Tab (DM's/Friends List)

.feature-2w65J5 {border-radius: 12.5px} */

.hero-EvfTTA {border-radius: var(--border-radius-main);}

/* Gift Nitro In Chat */
.wrapper-1P_m9K {border-radius: var(--border-radius-main);}

/* ||||  Share Screen Popup  |||| */

.modalSize-cqUaws{border-radius: var(--border-radius-main);}
.button-38aScr{border-radius: var(--border-radius-main);}
.close-hZ94c6{outline: #fff;}
.card-2Mz_4z{border-radius: var(--border-radius-main);}
.group-2dAfBy.flex-1O1GKY{border-radius: var(--border-radius-main);}

/* ||||  Misc Popups  |||| */

/* Inbox */

.container-enaOkj {
    border-radius: var(--border-radius-main);
}

/* Pins */

.messagesPopoutWrap-1MQ1bW {
    border-radius: var(--border-radius-main);
    margin-top: 14px;
    max-height: 940px !important;
    left: 180px;
    box-shadow: none;
}
.header-ykumBX {
    border-radius: var(--border-radius-main);
    background: var(--background-secondary-alt);
}
.messageGroupWrapper-o-Zw7G {
    border-radius: var(--border-radius-main);
}

/* ||||  Misc  |||| */ 

.gameIcon-gg34Dz{border-radius: var(--border-radius-main);}
.root-1gCeng{border-radius: var(--border-radius-main);}
.searchBar-3dMhjb{border-radius: var(--border-radius-main);}

.children-19S4PO::after {display:none;}

/* ||||  Home Button  |||| */

.tutorialContainer-1v44GL {
    position: relative;
    z-index: 2;
    top: -5px;
    margin-top: -5px;
    background: none;
    border-radius: 0 0px 25px 0;
    padding-top: 16px;
    padding-bottom: 0px;
    margin-right: 6px;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {background: var(--background-floating);border-radius: 90px;}

/* ||||  Title Bar  |||| */
.typeWindows-1za-n7 {
    background: var(--background-tertiary);
    margin-top: 0px;
    padding-top: 5px;
}

/* ||||  Calls  |||| */
.grid-3HQYa0l.wrapper-vj0FTk.wrapper-2qzCYF.noChat-18KtBD.video--KPXCT.theme-dark {border-radius: var(--border-radius-main);margin-right: 10px;}
.wrapper-vj0FTk.videoGrid-1khsrF.thin-1ybCId.fade-2kXiP2 {border-radius: var(--border-radius-main);margin-right: 10px;}

/* ||||  Chat Popouts  |||| */

/* Domain Trust */
.wrap-ZIn9Iy {border-radius: var(--border-radius-main);}

/* Server Notification Settings Popout */
.modal-yWgWj- {border-radius: var(--border-radius-main);padding-top:10px}
.separator-2-RRj_ {background: var(--background-secondary);top:-10px;}

/* Voice Chat "Playing" Popout */
.container-2dqNWc {border-radius: var(--border-radius-main);}

/* Autocomplete Box (For channel # etc) */
.autocomplete-1vrmpx {border-radius: var(--border-radius-main); margin: 0 25px 0 25px}
.base-1pYU8j {border-radius: var(--border-radius-main);}

/* Reply System */
.container-2fRDfG {
    position: relative;
    z-index: 1;
    border-radius: 25px 25px 0 0;
    margin-bottom: -20px;
    padding-bottom: 15px;
    padding-right: 5px;
    background: var(--background-secondary-alt);
}

/* Highlight Buttons (Right Side of Highlighted Message) */
.wrapper-2aW0bm {border-radius: var(--border-radius-main);background: var(--background-secondary-alt)}

/* Attach File Popout */
.attachPopout-36hjtN {border-radius: var(--border-radius-main);margin-bottom: -10px;}
.attachPopoutRow-3iqqu1 {border-radius: var(--border-radius-main);}

/* Emojis/Gifs */
.contentWrapper-SvZHNd {border-radius: var(--border-radius-main);}
.navButton-2gQCx- {border-radius: var(--border-radius-main);}
.searchBar-5di9mG {border-radius: var(--border-radius-main);}
.searchBar--fTZYa {border-radius: var(--border-radius-main);}

/* Colours */
.wrapper-2Gsate {background: var(--background-secondary);}
.listWrapper-3kgtQ0 {background: var(--background-secondary-alt);}
.wrapper-1-Fsb8 {background: var(--background-secondary-alt);}

/* ||||  Right Click Pane  |||| */
#message {border-radius: var(--border-radius-main);}
.focused-3afm-j {border-radius: var(--border-radius-main);}
.menu-3sdvDG {border-radius: var(--border-radius-main);}

/* ||||  Server Settings  |||| */

/*Server Utils Popout*/
#guild-header-popout {
    position: relative;
    border-radius: var(--border-radius-main);
    width: 240px;
    padding-top: 0px;
    margin-top: 0px;
}

/*Roles*/
.scroller-305q3I .contentColumn-2hrIYH {
    margin: 50px 50px 50px 50px !important;
}
.scroller-305q3I {display: inline;background: var(--background-secondary) !important;}

/*Audit Log*/
.customContainer-1RHXqt {background-color: transparent !important;}
.contentRegion-3nDuYy {background: var(--background-tertiary) !important;}
.customScroller-26gWhv {
    background: var(--background-primary);
    border-radius: var(--border-radius-main);
    margin: 30px 10px 0px 5px;
    width: 740px;
}
.content-FNlD6K {background: var(--background-primary)}

/*Server Boost Status*/
.tierHeaderLocked-1a2opw {border-radius: var(--border-radius-main);}
.tierBody-x9kBBp {
    border-radius: var(--border-radius-main);
    padding-top: 75px;
    margin-top: -64px !important;
}

.wrapper-3nSjSv {border-radius: var(--border-radius-main);}
.tierVertical-2ePkZj {border-radius: var(--border-radius-alt);}

/*User Management Category Fix*/
.customScroller-26gWhv {background: var(--background-primary) !important;}




/* ||||  Spotify  |||| */
/*.headerSpotify-zpWxgT .activity-11LB_k {position: relative; padding: 0 !important;}
.assetsLargeImage-eYwpTX {border-radius: 50%; }
.topSectionStreaming-1Tpf5X .assetsLargeImage-eYwpTX {border-radius: var(--border-radius);}
.headerSpotify-zpWxgT .headerTextNormal-2mGWX3 {display: none !important;}
.headerSpotify-zpWxgT .bodyNormal-2D39hT {padding: 10px 10px 0 10px !important;}
.headerSpotify-zpWxgT .contentImagesUserPopout-1vLdRA {margin: 6px 0 0 10px;}
.headerSpotify-zpWxgT .contentImagesUserPopout-1vLdRA .anchor-3Z-8Bb,
.activityProfile-2bJRaP .content-3JfFJh .anchor-3Z-8Bb {color: #e0e0e0 !important;}
.headerSpotify-zpWxgT .timeBarUserPopout-AWPFf2 {position: absolute;width: 100%;top: 0;margin: 0;}
.headerSpotify-zpWxgT .timeBarUserPopout-AWPFf2 .flex-1xMQg5 {position: absolute !important;flex: 0 !important;width: 80px !important;top: -16px !important;right: 2px !important;opacity: 0;transition: 200ms ease all; }
.headerSpotify-zpWxgT:hover .timeBarUserPopout-AWPFf2 .flex-1xMQg5 {opacity: 1;}
.headerSpotify-zpWxgT .textLeft-3EZXG6,
.headerSpotify-zpWxgT .textRight-1XO5Ye {width: 32px;min-width: 32px;}
.headerSpotify-zpWxgT .textLeft-3EZXG6 {display: inline-block;position: relative;margin: 0 16px 0 0;flex: 0 !important;text-align: right;}
.headerSpotify-zpWxgT .textLeft-3EZXG6:after {position: absolute;content: " / ";left: 38px; }
.headerSpotify-zpWxgT .listeningActionsUserPopout-Ga2V_N {padding: 0 10px 10px 10px;}
.headerSpotify-zpWxgT .bar-3urHkF,
.headerSpotify-zpWxgT .barInner-3NDaY_ {border-radius: 0;}
.listenAlongIcon-2vb1HG {color: var(--spotify-color);}
.listenAlongIcon-2vb1HG path {d: path("M5 15v-3h3v-2H5V7H3v3H0v2h3v3zm7-1.25c-2.34 0-7 1.17-7 3.5V19h14v-1.75c0-2.33-4.66-3.5-7-3.5zM7.34 17c.84-.58 2.87-1.25 4.66-1.25s3.82.67 4.66 1.25H7.34zM12 12c1.93 0 3.5-1.57 3.5-3.5S13.93 5 12 5 8.5 6.57 8.5 8.5 10.07 12 12 12zm0-5c.83 0 1.5.67 1.5 1.5S12.83 10 12 10s-1.5-.67-1.5-1.5S11.17 7 12 7zm5 5c1.93 0 3.5-1.57 3.5-3.5S18.93 5 17 5c-.24 0-.48.02-.71.07.76.94 1.21 2.13 1.21 3.43 0 1.3-.47 2.48-1.23 3.42.24.05.48.08.73.08zm2.32 2.02c1 .81 1.68 1.87 1.68 3.23V19h3v-1.75c0-1.69-2.44-2.76-4.68-3.23z") !important; }
*/

/* ||||  Server List  |||| */
.scroller-2TZvBN {
    background-color: var(--background-secondary-alt);
	border-radius: 0 25px 25px 0;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Open Folder */
.folder-21wGz3 {border-radius: 90px;background-color: var(--background-floating);}
.expandedFolderBackground-2sPsd- {background: var(--background-floating);border-radius: 90px;}

/* Closed Folder */
.closedFolderIconWrapper-15K9MK {background: var(--background-floating);}

/* Home Button and Server Join Button Fixation */
.guilds-1SWlCJ .scroller-2TZvBN {
    contain: none !important;
}
.scroller-2TZvBN {
    padding-top: 82px !important;
    padding-bottom: 82px !important;
}

/*Home Button*/
.tutorialContainer-1v44GL {
    position: fixed;
    z-index: 2;
    top: 37px;
    margin-top: 0px;
    background: none;
    border-radius: 0 0px 0px 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
}
.tutorialContainer-1v44GL .listItemWrapper-3X98Pc {
    background: var(--background-floating);
    margin-top: -4px;
    padding: 12px;
    border-radius: 0 25px 25px 0px;
}
.tutorialContainer-1v44GL .pill-2uzAFe {
    top: 10px
}

/*Join/Create Server*/
.tutorialContainer-SGrQ1h {
    position: fixed;
    z-index: 3;
    padding-bottom: 4px;
    padding-top: 12px;
    bottom: -2px;
}
.tutorialContainer-SGrQ1h .listItemWrapper-3X98Pc {
    background: var(--background-floating);
    padding: 12px;
    border-radius: 0 25px 25px 0;
}

/*Discover Servers*/
/*.circleIconButton-jET_ig {
    display: fixed !important;
    top: 0px;
}
W.I.P*/

/*Unread Mentions*/
.mention-1f5kbO {opacity: 1;}
.unreadMentionsIndicatorTop-gA6RCh {
    position: absolute;
    z-index: 1;
    top: 52px;
    margin-left: -8px;
    width: 88px;
    height: 100px;
}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe {
    border-radius: 0 0 25px 0;
    padding-top: 20px;
}
.unreadMentionsIndicatorBottom-BXS58x {
    position: absolute;
    z-index: 1;
    bottom: 22px;
    margin-left: -8px;
    width: 88px;
    height: 90px;
}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe {
    border-radius: 0 25px 0 0;
    padding-bottom: 20px;
}

/* ||||||||||||  Settings  |||||||||||| */

/* Main Settings */
.contentColumn-2hrIYH {
    border-radius: var(--border-radius-main);
    padding-top: 25px;
    margin: 30px 10px 30px 5px;
    background-color: var(--background-primary);
}
.sidebar-CFHs9e {border-radius: var(--border-radius-main);
    padding-top: 25px;
    margin: 30px 10px 30px 20px;
    background-color: var(--background-secondary);
}
.container-1sFeqf {position: relative;left: 10px;top:-20px}
.keybind-KpFkfr {display: none;}
.contentRegionScroller-26nc1e, .sidebarRegionScroller-3MXcoP {background-color: var(--background-tertiary);}

/* My Account */
.userInfoViewing-16kqK3 {border-radius: var(--border-radius-main);}
.userInfoViewingButton-2-jbH9 {border-radius: var(--border-radius-main);}
.background-1QDuV2 {border-radius: var(--border-radius-main);}
.fieldList-21DyL8 {border-radius: var(--border-radius-alt);}

/* Privacy & Safety */
.item-26Dhrx {border-radius: 12.5px}
.radioBar-bMNUI- {border-radius: var(--border-radius-alt);}
.formNotice-2_hHWR {border-radius: var(--border-radius-main);}

/* Authorized Apps */
/* .formNotice-2_hHWR {border-radius: var(--border-radius-main);} */
.authedApp-mj2Hmd {border-radius: var(--border-radius-main);background-color: var(--background-secondary);}

/* Connections */
.inner-2Y6JuD {border-radius: var(--border-radius-main);}
.accountList-33MS45 {border-radius: var(--border-radius-main);}
.connection-1fbD7X, .connectionHeader-2MDqhu {border-radius: var(--border-radius-main);}
.connectedAccount-36nQx7 {border-radius: var(--border-radius-main);}

/* Billing */
.defaultIndicator-G3c16x {border-radius: 12.5px}
.premiumIndicator-1XvbfM {border-radius: 12.5px}
.codeRedemptionRedirect-1wVR4b {border-radius: var(--border-radius-main);}
.select-2fjwPw {border-radius: var(--border-radius-main);}
.popout-VcNcHB {border-radius:25px;}

/* Subscriptions */
.banner-3Kac2g {border-radius: var(--border-radius-main);}
.bannerBackgroundImage-1DMjWi {border-radius: var(--border-radius-main);}
.billingInformation-1MZXzx {border-radius: var(--border-radius-main);}
.detailsBlock-FoDTGA {border-radius: var(--border-radius-main);}

/* Gift Inventory */
.inputDefault-_djjkz {border-radius: var(--border-radius-main);}

/* Server Boost */
.guild-Hq0WWA {border-radius: var(--border-radius-main);}
.guildHeader-3nh5RK {position:relative;z-index:1; margin-bottom: -20px;padding-bottom: 20px}
.guildSubscriptionSlots-JPXXvN {position:relative;z-index:2;border-radius: 25px}
.cardWrapper-2Min21 {border-radius: var(--border-radius-main);}

/* HypeSquad */
.membershipDialog-rVL-t_ {border-radius: var(--border-radius-main);}
.video-34IsHk {border-radius: var(--border-radius-main);}
.attendeeCTA-3ZZQWt {border-radius: var(--border-radius-main);}

/* Voice & Video */
.css-gvi9bl-control {border-radius: var(--border-radius-main);}
.css-6fzn47-control {border-radius: 25px 25px 0 0;}
.css-17e1tep-control {border-radius: var(--border-radius-main);}
.css-3vaxre-menu {border-radius: 0 0 25px 25px;}
.grabber-3mFHz2 {border-radius: var(--border-radius-main);}
.item-26Dhrx {border-radius: var(--border-radius-main);}
.previewContainer-37c2Si {border-radius: var(--border-radius-main);}
.formNotice-2_hHWR {border-radius: var(--border-radius-main);}

/* Overlay */
.container-CpszHS {border-radius: var(--border-radius-main);}
.wrapper-3jrx9n, .option-n0icdO {border-radius: var(--border-radius-main);}

/* Keybinds */
.css-118dehu-control {border-radius: var(--border-radius-main);}

/* Game Activity */
.activeGame-14JI7o {border-radius: var(--border-radius-main);}
.addGamePopout-2RY8Ju {border-radius: var(--border-radius-main);}

/* Changelog */
.video-1FESK- {border-radius: var(--border-radius-main);}

/* Buttons */
.side-8zPYf6 .item-PXvHYJ {border-radius: var(--border-radius-main);}

/* General Stuff */
.sidebar-CFHs90e {background: var(--background-secondary);}

/* ||||||||||||  Not sorted |||||||||||| */

.hasNotice-1XRy4h {border-radius: var(--border-radius-main);}
.panels-j1Uci_ {border-radius: var(--border-radius-main);}
.container-PNkimc {border-radius: var(--border-radius-main);}

/* ||||||||||||  Members List  |||||||||||| */

.members-1998pB {border-radius: var(--border-radius-main);}

.membersWrap-2h-GB4, .members-1998pB {
    left: 15px;
    margin-left: -10px;
    padding-top: 0px;
    margin-top: 5px;
    margin-right: 15px
  }
.chat-3bRxxu {
    background: var(--background-tertiary);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: var(--border-radius-main);
}
.chatContent-a9vAAp {
    background-color: var(--background-primary);
    padding-top: 0px;
    border-radius: var(--border-radius-main);
    left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-left: -25px
  }
.chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {border-radius: var(--border-radius-main);}
.container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {position: relative;left: 0px;padding-right: 15px}

/* ||||||||||||  Channels List  |||||||||||| */

.platform-win .sidebar-2K8pFh {border-radius: var(--border-radius-main);width: 240px;margin: 10px;padding-top: 0px;}
.platform-win .sidebar-2K8pFh.hasNotice-1XRy4h {border-radius: var(--border-radius-main);width: 240px;margin: 10px;padding-top: 0px;}
.containerDefault--pIXnN {border-radius: var(--border-radius-main);}
.content-1Wq3SX {border-radius: var(--border-radius-main);}
.content-1x5b-n {border-radius: var(--border-radius-main);}
.header-2V-4Sw {border-radius: var(--border-radius-main);background-color: var(--background-secondary-alt);}
.content-3at_AU {border-radius: var(--border-radius-main);}
.container-1giJp5 {
    position: relative;
    background: var(--background-floating);
	border-radius: var(--border-radius-main);
    padding-bottom: 56px;
    margin-bottom: -50px;
}
.container-3baos1 {
	position: relative;
	background: var(--background-secondary-alt);
	border-radius: var(--border-radius-main);
	margin-bottom: -2px;
}
.panel-24C3ux {
	position: relative;
	background: var(--background-floating);
    border-radius: var(--border-radius-main);
    padding-bottom: 80px;
    margin-bottom: -70px;
}
.button-1YfofB.buttonColor-7qQbGO.button-38aScr {
    border-radius: var(--border-radius-main);
    background: var(--background-primary);
}

/* Stream Preview */
.streamPreview-2-WUWT {border-radius: var(--border-radius-main);}


/* Voice Activity */
.avatarSpeaking-2IGMRN {
    -webkit-box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px #000;
    box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px #000;
}
.border-3dQmSY.speaking-WDn8Wm {
    -webkit-box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px #000;
    box-shadow: inset 0 0 0 2px #1673f6, inset 0 0 0 3px #000;
}

/* Krisp Voice Audio */
.noiseCancellationPopout-iRK2A0 {
    border-radius: var(--border-radius-main);
}
.noiseCancellationPopout-iRK2A0 .container-2_Tvc_ {
    background: var(--background-secondary-alt);
    padding: 5px;
    border-radius: var(--border-radius-alt);
}

/* ||||||||||||  Chat stuff  |||||||||||| */

/*Scrollbar*/
.messagesWrapper-1sRNjr {
    --scroll-spacing: 20px;
}
.messagesWrapper-1sRNjr > div::-webkit-scrollbar-track-piece:end,
.messagesWrapper-1sRNjr > div::-webkit-scrollbar-track-piece:start {
    margin: calc(var(--scroll-spacing) / 2) 0;
}
.messagesWrapper-1sRNjr > div::-webkit-scrollbar-track {
    background-color: transparent;
}
.messagesWrapper-1sRNjr::after {
    content:'';
    position: absolute;
    z-index: -1;
    height: calc(102% - (var(--scroll-spacing) * 2.236));
    top: var(--scroll-spacing);
    right: -4px;
    width: 8px;
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: var(--background-primary);
    border-radius: 8px;
}
.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary-alt);
}

/*Jump To Present*/
.jumpToPresentBar-G1R9s6 {
    border-radius: 25px 25px 0 0 !important;
    left: 0;
    margin-bottom: -10px !important;
    padding-bottom: 20px;
    max-width: 1500px;
    margin-right: -15px;;
}

/*New Message Popup (top of screen)*/
.newMessagesBar-265mhP {position: absolute;border-radius: var(--border-radius-main);left: 20px;top: 5px;}

/*Unread Seperator*/
.unreadPill-2HyYtt {
    border-radius: 25px !important;
    width: 40px;
    padding-right: 0px;
    align-items: center !important;
}
.unreadPillCap-3_K2q2 {display: none;}

/*Friends Panel*/
.emptyCard-1RJw8n {border-radius: var(--border-radius-main);}
.searchBarComponent-32dTOx[type*="button"] {border-radius: var(--border-radius-main);}
.layout-2DM8Md {border-radius: var(--border-radius-main);}
.item-3HknzM.item-PXvHYJ.selected-3s45Ha {border-radius: var(--border-radius-main);}
.item-3HknzM.item-PXvHYJ[aria-controls*="ADD_FRIEND-tab"] {border-radius: var(--border-radius-main);}
.nowPlayingColumn-2sl4cE {background: var(--background-tertiary)}
.itemCard-v9viV7 {border-radius: var(--border-radius-main);background: var(--background-secondary-alt)}
.body-1ld4H7 {border-radius: var(--border-radius-alt);background: var(background-primary) !important;}
.layerContainer-yqaFcK {margin-right: 10px;}
.group-spacing-16{margin-right: 10px;}
.searchBarComponent-32dTOx {border-radius: var(--border-radius-main);}
.searchBar-6Kv8R2 {border-radius: var(--border-radius-main);background: var(--background-secondary-alt);}
.container-1D34oGr {margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding: 0px;}
.peopleColumn-29fq28 {margin-top: 10px; border-radius: var(--border-radius-main);background: var(--background-primary);}
.container-1r6BKw.themed-ANHk51 {border-radius: var(--border-radius-main);background: var(--background-secondary-alt);}
.tabBody-3YRQ8W:before {display: none;}
.container-1D34oG {background: var(--background-tertiary) !important;}

/*Library Tab*/
.libraryHeader-3g95kE {margin-top: 10px;}
.libraryHeader-3g95kE::before {box-shadow: none;}
.container-19hC9u {margin: 10px 0px 10px 0px;border-radius: var(--border-radius-main);}

/*Nitro Tab*/
.headerBar-1YYOfi {top: 0px;}
.applicationStore-1pNvnv {
    margin: 10px 10px 10px 0px;
    padding: unset;
}
.feature-2w65J5 {border-radius: var(--border-radius-main);}
.stickerImageSection-7EUs8E {border-radius: 12.5px !important;}

/*Global Search Button*/
.quickswitcher-3JagVE {border-radius: var(--border-radius-main);} 
.input-2VB9rf {border-radius: var(--border-radius-main);box-shadow: none;background: var(--background-secondary-alt)}

/*Sticker Info Popout*/
.popoutContainer-1MXdqN {border-radius: var(--border-radius-main);}

/*Server Invites*/
.wrapper-35wsBm {border-radius: var(--border-radius-main);}

/*Main*/
.sidebar-2K8pFh + .chat-3bRxxu .messagesWrapper-1sRNjr + .form-2fGMdU {margin-bottom: 4px;} 
.content-yTz4x3:before {display: none;}
.title-3qD0b-.container-1r6BKw {border-radius: var(--border-radius-main);background: var(--background-secondary-alt);}
.header-2o-2hj {position: relative;z-index: 6;border-radius: var(--border-radius-main);background: var(--background-secondary-alt);}
.container-1D34oG {margin: 10px 10px 10px 0;padding-right:0px}

/* ||||||||||||  Server Message Search  |||||||||||| */

/* Collapsing Feature */
.search-2oPWTC .searchBar-3dMhjb {width: 27px;transition-duration: .5s;}
.search-2oPWTC .searchBar-3dMhjb:hover {width: 144px;}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {width: 220px !important;}
.search-2oPWTC .icon-38sknP {cursor: pointer;}
.searchFilter-2ESiM3, .searchAnswer-3Dz2-q {border-radius: var(--border-radius-main);margin-left: 2px;}

/* Search-Box tips */
#search-results.container-3ayLPN {border-radius: var(--border-radius-main);;margin-top: 14px;min-width: 340px;margin-right: -12px !important;background: var(--background-floating)}
.option-96V44q {border-radius: 25px !important;}
.option-96V44q::after {display:none;}

/* Search Results Page */
.searchResultsWrap-3-pOjs {margin: 10px 0 0 10px;border-radius: var(--border-radius-main);}
.searchHeader-2XoQg7 {border-radius: var(--border-radius-main);background: var(--background-secondary-alt);}
.searchResultMessage-1fxgXh.hit-1fVM9e {border-radius: var(--border-radius-main);background: var(--background-primary)}
.jumpButton-JkYoYK {border-radius: var(--border-radius-main);}

/* ||||||||||||  Chatbox  |||||||||||| */

.scrollableContainer-2NUZem {
    position: relative;
    z-index: 2;
    background: var(--background-secondary-alt);
    max-height: 37vh;
  	border-radius: var(--border-radius-main);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: -5px;
	padding-top: 4px;
	padding-bottom: 4px;
    padding-right: 12px;
}

/*Typing*/
.form-2fGMdU {display: flex;flex-flow: column-reverse;}
.form-2fGMdU::before {display: none;}
.base-gE7OpD {font-size: 12px; font-weight: 500; line-height: 24px;}
.typing-2GQL18 {
    display: flex;
    position: static;
    align-items: center;
    margin-bottom: -26px !important;
    padding: 0 15px 10px;
    background: var(--background-secondary);
    transition: height .5s;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-bottom: 25px;
}

/*Background*/
.scrollableContainer-2NUZem::-webkit-scrollbar {display: none;}
.form-2fGMdU {padding-left: 0px;padding-right: 0px;}
.characterCount-1cRDo2 {z-index: 3;}
.channelTextArea-rNsIhG {margin-bottom: 0px;border-radius: 24px;}
.theme-dark .form-2fGMdU:before {background: transparent;}

/*Text Align*/
.slateTextArea-1Mkdgw {text-align: left;margin-left: 0px;}
.placeholder-37qJjk {left: 0px;}

/*Mentions/Text Channel link*/
.wrapper-3WhCwL {background: rgba(66,133,244, .1);border-radius: var(--border-radius-alt);padding: 0px 5px 0px 5px}
.wrapper-3WhCwL:hover {background: rgb(66,133,244, .5);}

/*Mentions Background*/
.mentioned-xhSam7 {
    border-radius: var(--border-radius-main);
    margin-right: 10px;
    margin-left: 10px;
}
.mentioned-xhSam7::before {display: none !important;}
.groupStart-23k01U, .cozy-3raOZG {border-radius:25px;margin-left: 10px;margin-right: 10px;}
.message-2qnXI6:hover {border-radius: var(--border-radius-main);}


/* ||||||||||||  Streamer Mode Notice  |||||||||||| */

.colorStreamerMode-2SJAUN  {
    border-radius: var(--border-radius-main);
    margin: 10px 10px 0px 10px;
}
.button-2DhvE9 {border-radius: 235px;}

/* ||||||||||||  Discovery Page  |||||||||||| */

/*Main*/
.pageWrapper-1PgVDX {border-radius: var(--border-radius-main);margin: 10px 10px 10px 0px;}
.searchBox-3Y2Vi7.searchBox-2_mAlO {border-radius: var(--border-radius-main);}

/*Server Cards*/
.headerImage-3X1tyY {border-radius: var(--border-radius-main);}
.card-3DjzTQ {border-radius: var(--border-radius-alt);}
.avatar-22otdK {border-radius: 50px;}
.iconMask-3b8GzQ {border-radius: 50px;}

/* ||||||||||||  User Profile  |||||||||||| */

/*  Big User Profile  */

/*Top Header*/
.topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P,
.topSectionPlaying-1J5E4n, .topSectionStreaming-1Tpf5X{
    border-radius:25px;
}
.root-SR8cQa {
    border-radius: var(--border-radius-main);
}
.header-QKLPzZ {
    flex-flow: column;
    border-radius: var(--border-radius-main);
}
.date-YN6TCS {
    text-align: center;
}
.profileBadges-2vWUYb {
    justify-content: center;
    margin: 10px 0 10px 0;
}
.nameTag-2IFDfL {
    justify-content: center;
    margin: 10px 0 0 0;
}
.additionalActionsIcon-1FoUlE {
    transform: rotate(90deg) !important;
    margin-right: 30px;
    margin-top: 10px;
}

.actionButton-3W1xZa {
    margin-right: 20px;
}

/*Status Stuff*/
.customStatus-154i-H {
    justify-content: center !important;
    display: flex;
}
.activityHeader-1PExlk {
    justify-content: center;
    display: flex;
}
.activity-1ythUs {
    border-radius: var(--border-radius-main);
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.activityProfile-2bJRaP.activity-1ythUs {
    border-radius: var(--border-radius-main);
    margin: 10px 10px 10px 10px;
}
.headerTextNormal-2mGWX3 {justify-content: center;}

/*Connections, Mutuals Stuff*/
.tabBarContainer-1s1u-z {
    border-top: none;
}
.tabBar-2MuP6- {
    justify-content: center;
}

/*Connections Tab*/
.connectedAccount-36nQx7 {
    border: none;
    background: var(--background-secondary-alt);
    border-radius: var(--border-radius-main);
    width: 255px;
    height: 30px;
    
}
.userInfoSection-2acyCx {
    border: none !important;
}

.connectedAccountIcon-3P3V6F{
    margin: unset !important;
    padding: unset !important;
}

/*Mutual Servers/Friends Tab*/
.listRow-hutiT_ {
    display: inline-flex;
    border-radius: var(--border-radius-main);
    width: 270px;
    margin-top: 5px;
}

/* Big User Profile Colours */
.topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P,
.topSectionPlaying-1J5E4n, .topSectionStreaming-1Tpf5X, 
.topSectionXbox-3fWLjS {
    background: var(--background-tertiary);
}
.activity-1ythUs {
    background: var(--background-secondary-alt)
}

/* Small User Profile */
.userPopout-3XzG_A {
    border-radius: var(--border-radius-main);
    width: 275px;
}

/*Header*/
.headerNormal-T_seeN, .headerNormal-T_seeN,
.headerPlaying-j0WQBV, .headerSpotify-zpWxgT,
.headerStreaming-2FjmGz {
    border-radius: var(--border-radius-main);
}
.customStatus-1bh2V9 {
    background: var(--background-secondary-alt);
    padding: 5px;
    border-radius: var(--border-radius-main);
}
.activityUserPopout-2yItg2 {
    margin: 0px 10px 10px 10px;
    border-radius: var(--border-radius-main);
}

/*Roles Section*/
.role-2irmRk {
    position: relative;
    overflow: hidden;
    z-index: 1                                                                                                                                                                                                              ;
    border: none;
    border-radius: var(--border-radius-main);
}
.roleCircle-3xAZ1j::before {
    position: absolute;
    z-index: -1;
    content: "";
    background: var(--background-secondary-alt);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
}

/*Footer*/
.inputDefault-_djjkz {
    border-radius: var(--border-radius-main);
}

.wumpusTooltip-65YlMT {
    border-radius: var(--border-radius-main);
}
/* Small User Profile Colours */

.headerPlaying-j0WQBV, .headerSpotify-zpWxgT,
.headerStreaming-2FjmGz, .headerXbox-3G-4PF {
    background: var(--background-tertiary)
}
.userPopout-3XzG_A {background: var(--background-secondary)}

/* Activity Variables */
.topSectionPlaying-1J5E4n .activityProfile-2bJRaP.activity-1ythUs {
    background: #7289DA !important;
}
.topSectionSpotify-1lI0-P .activityProfile-2bJRaP.activity-1ythUs {
    background: #1DB154 !important;
}
.topSectionXbox-3fWLjS .activityProfile-2bJRaP.activity-1ythUs {
    background: #107c10 !important;
}
.topSectionStreaming-1Tpf5X .activityProfile-2bJRaP.activity-1ythUs {
    background: #593695 !important;
}

.headerPlaying-j0WQBV .activityUserPopout-2yItg2 {
    background: #7289DA !important;
}
.headerSpotify-zpWxgT .activityUserPopout-2yItg2 {
    background: #1DB154 !important;
}
.headerXbox-3G-4PF .activityUserPopout-2yItg2 {
    background: #107c10 !important
}
.headerStreaming-2FjmGz .activityUserPopout-2yItg2 {
    background: #593695 !important;
}

/*Note Section*/
.textarea-2r0oV8 {
    border-radius: 25px !important;
    padding: 10px !important;
    background: var(--background-secondary-alt)
}





/*New Message Popup (top of screen)*/
.newMessagesBar-265mhP {position: absolute;border-radius: var(--border-radius-main);left: 20px;top: 5px;}


/* ||||||||||||  Plugin Support  |||||||||||| */

/*Plugin/Theme Repo*/
.repoHeader-2KfNvH {
    position: relative;
    background: var(--background-primary);
    width: 740px;
    border-radius: var(--border-radius-main);
    left: 5px !important;
    padding-top: 30px;
    margin-top: 30px;
}

/* HideChannels (not very well supported) */
.sidebar-2K8pFh.hideElement .container-3baos1 {
    background-color: var(--background-secondary-alt) !important;
    margin:10px;
    top: 950px;
    height: 50px !important;
    position: relative;
}

/* SpotifyControls */
.container-6sXIoE {
    position: relative;
    background: #1d1e21;
    border-radius: var(--border-radius-main);
    padding-bottom: 70px;
    margin-bottom: -65px;
}
.cover-SwJ-ck {border-radius: var(--border-radius-main);}
.maximized-vv2Wr0 {border-radius: var(--border-radius-main);}
.barFill-Dhkah7 {background: white;}

/* ImageUtilities */
.operations-3V47CY {
    background: var(--background-tertiary);
    border-radius: var(--border-radius-main);
    padding: 0 10px 0 10px;
    margin-top: -10px;
    top: -30px;
    position: absolute;
}
.detailsWrapper-TE1mu5 {
    background: var(--background-tertiary);
    border-radius: var(--border-radius-main);
    max-width: 1100px;
    min-width: 400px;
    padding: 0 10px 0 25px;
}

/* GoogleTranslateOption */
.themedPopout-1TrfdI {
    border-radius: var(--border-radius-main);
    background: var(--background-secondary)
}
.themedPopout-1TrfdI .textScroller-dc9_kz {
    background: var(--background-secondary-alt);
    padding: 15px;
    margin: -10px;
    border-radius: var(--border-radius-main);
}
.themedPopout-1TrfdI .divider-3573oO {display: none;}
.themedPopout-1TrfdI .marginBottom8-AtZOdT {
    background: var(--background-secondary-alt);
    padding: 10px;
    border-radius: var(--border-radius-main);
}

/* ||||||||||||  Badges (W.I.P)  |||||||||||| */

.headerText-3Uvj1Y > span:first-child::after,
.usernameFont-23TX-h::after,
.name-uJV0GL > .overflow-WK9Ogt::after {
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* lixm.jb#5310 (theme creator) */
[src*="262068640013090819"] + .header-23xsNx > .headerText-3Uvj1Y > span:first-child::after,
.avatar-3EQepX[data-user-id="262068640013090819"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="262068640013090819"] + .usernameFont-23TX-h::after,
[aria-label*="lixm.jb"] > div > .content-3QAtGj > .nameAndDecorators-5FJ2dg > .name-uJV0GL > .overflow-WK9Ogt::after {
   content:  "";
   border-radius: var(--border-radius-main);
   position: relative;
   left: 2px;
   background: url(https://i.imgur.com/YtHzbtS.png) center/80% no-repeat white;
}

/* ||||||||||||  TitleBar Watermark  |||||||||||| */

html[style] head ~ body[style] > #app-mount.appMount-3lHmkl .wordmark-2iDDfm::after {
        content: "- MaterialCord v1.2.0";
        display: block !important;
        position: absolute;
        left: 67px;
        top: 6px;
        width: 130px;
        font-size: 0.85rem;
        color: #72767d;
        font-weight: 1000;
}

/* ||||||||||||  BBD Stuff  |||||||||||| */

/*BDFDB Plugin Updates*/
.notice-3bPHh- {
    margin: 10px;
    border-radius: 25px !important;
}

/*Zlib Plugin Updates*/
#pluginNotice {border-radius: 25px !important;}
#outdatedPlugins {position: relative; bottom: 2px !important;}
.notice-message {position: relative; bottom: 2px !important;}

/*Plugin Update Card*/
.header-1TKi98 {border-radius: 25px !important;}
.theme-dark .footer-2gL1pp {border-radius: 25px !important;}

/*Plugin/Theme Cards*/
.bd-addon-header {border-radius: var(--border-radius-main);}
.bd-addon-list .bd-addon-card {border-radius: 25px !important;}

/*BD Selection Box*/
.bd-select-options {border-radius: 25px !important;}

/*BD Search Box*/
.bd-search-wrapper {border-radius: var(--border-radius-main);}
.bd-select-option {
    margin: 5px 5px 5px 5px !important;
    border-radius: var(--border-radius-main);
}

/* BD Plugin/Theme Card Footer*/
.bd-footer .bd-button {
    border-radius: 30px !important;
    width: 28px;
    height: 28px;
    margin-left: 5px;
}

/*BD Plugin/Theme Title Area*/
.bd-addon-views .bd-button {
    border-radius: 25px !important;
}

/*Open Theme/Plugin Folder*/
.bd-settings-title .bd-button {border-radius:25px !important;}


/* ||||||||||||  Floating Settings Panel  |||||||||||| */

/*Unsaved Changes Fix*/
.noticeRegion-1YviSH {
    position: absolute;
    bottom: 0px !important;
    z-index: 1002;
}
.container-2VW0UT {border-radius: var(--border-radius-main);}

/*User Management Fix*/
.customScroller-26gWhv {position: relative;z-index: 1001}

/*Main*/
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .contentRegion-3nDuYy .tools-3-3s-N .closeButton-1tv5uR::after, #app-mount .layer-3QrUeG[aria-label*=RTC] .contentRegion-3nDuYy .tools-3-3s-N .closeButton-1tv5uR::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 0;
    cursor: default;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .contentRegion-3nDuYy .tools-3-3s-N .closeButton-1tv5uR, #app-mount .layer-3QrUeG[aria-label*=RTC] .contentRegion-3nDuYy .tools-3-3s-N .closeButton-1tv5uR {
    width: 36px;
    height: 36px;
    flex: none;
    transform: none;
    background: transparent;
}
.contentColumn-2hrIYH {
    position: relative;
    z-index: 1001;
}
#user-settings, 
.layer-3QrUeG[aria-label="RTC_DEBUG"],
.layer-3QrUeG[aria-label*="SETTINGS"] {
    width: 1100px;
    height: 70%;
    display: block;
    margin: auto auto;
    margin-bottom: 120px;
    top: -20px;
    border-radius: var(--border-radius-main);
    position: relative;
    z-index: 1001;
}
.base-3dtUhz {background:var(--background-tertiary)}
.layers-3iHuyZ .layer-3QrUeG:first-of-type[aria-hidden="true"] {
    opacity: 1 !important;
    transform: none !important;
    filter: brightness(0.3);
    pointer-events: none !important;
    transition: 100ms;
}
.standardSidebarView-3F1I7i {
    top: 0px !important;
}
.sidebar-CFHs9e {
    padding: 30px 6px 30px 20px;
}
.layers-3iHuyZ .layer-3QrUeG:first-of-type[style*="scale(0"],
.baseLayer-35bLyl {
    transform: none !important;
}